<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjectAir_Beta</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/ProjectDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ClassViewServlet</servlet-name>
    <servlet-class>com.classlist.controller.ClassViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassViewServlet</servlet-name>
    <url-pattern>/classlist/ClassView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassUpdateServlet</servlet-name>
    <servlet-class>com.classlist.controller.ClassUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassUpdateServlet</servlet-name>
    <url-pattern>/classlist/Class.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImagesServlet</servlet-name>
    <servlet-class>com.images.controller.ImagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImagesServlet</servlet-name>
    <url-pattern>/img/ImagesView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.util.ScheduleServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/Schedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.register.model.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register/ModPayStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterView</display-name>
    <servlet-name>RegisterView</servlet-name>
    <servlet-class>com.register.model.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterView</servlet-name>
    <url-pattern>/register/register.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Downloadxlsx</display-name>
    <servlet-name>Downloadxlsx</servlet-name>
    <servlet-class>excel.Downloadxlsxservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Downloadxlsx</servlet-name>
    <url-pattern>/classlist/Downloadxlsx.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
</web-app>